#main-section {
    padding: 0 10%; /* Initial padding */
}

.main-child {
    padding: 5%; /* Initial padding */
}

.main-btn {
    border-radius: 0;
    margin-top: 50px;
}

@media (max-width: 900px) {
    #main-section {
        padding: 0 5%; /* Adjusted padding */
    }

    .main-child {
        padding: 2% 5%; /* Adjusted padding */
    }

    .main-btn {
        margin-top: 20px; /* Adjusted margin */
    }
}

