/* #main-section {
    padding: 0 10%; 
    
}

.main-row {
    height: 100vh;
}

.main-child {
    padding: 5%; 
}

.main-btn {
    border-radius: 0;
    margin-top: 50px;
}

.main-header {
    font-size: 50px; 
    margin: 35px 0;
}

.main-paragraph {
    font-size: 25px; 
}

@media (max-width: 900px) {
    #main-section {
        padding: 0 5%; 
    }

    .main-row {
        height: auto;
        flex-direction: column-reverse;
    }

    .main-child {
        padding: 2% 5%; 
    }

    .main-btn {
        margin-top: 20px; 
    }

    .main-header {
        font-size: 35px; 
        margin-top: 50px;
    }
    
    .main-paragraph {
        font-size: 20px; 
        margin: 25px 0;
    }
}
 */

/* INDEX.HTML STYLES */
#main-section {
    padding: 0 10%;
}

.main-row {
    height: 100vh;
}

.main-child {
    padding: 5%;
}

.main-btn {
    border-radius: 0;
    margin-top: 50px;
}

.main-header {
    font-size: 50px;
    margin: 35px 0;
}

.main-paragraph {
    font-size: 25px;
}

/* MEDIA QUERY FOR INDEX.HTML */
@media (max-width: 992px) {
    #main-section {
        padding: 0 5%;
    }

    .main-row {
        height: auto;
        flex-direction: column;
    }

    .main-child {
        padding: 3%;
        /* Adjusted padding */
        margin-bottom: 20px;
        /* Adjusted margin */
    }

    .main-header {
        font-size: 40px;
        margin: 20px 0;
    }

    .main-paragraph {
        font-size: 30px;
    }

    .main-btn {
        margin-top: 20px;
    }
}

.hostel-section {
    width: 450px;
    height: 160px;
    border-radius: 10px;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 50px;
    /* Setup */
    position: relative;
}

.child {
    color: black;
    margin: 0;
    padding: 15px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.p-text {
    font-size: 20px;
}

.hostel-section-1 {
    height: 300px;  
    width: 350px;
    border-radius: 30px;
    background-color: aqua;
    color: black;
    /* background: linear-gradient(145deg, #e4e1e1, #ffffff);
    box-shadow:  5px 5px 5px #dadada,
                -5px -5px 5px #ffffff; */
}

.hostel-preview {
    height: 300px;
    width: 350px;
    border-radius: 10px;
    background-color: yellow;
    padding: 0;
    margin: auto;
    color: black;
}